.main-content {
  padding: 1.5rem;
  font-family: roboto;
}

.main-content h1 {
  margin-bottom: 1rem;
}

.tentti {
  background-color: white;
  border: 1px solid black;
}

.tentti Button {
  padding: 1rem;
}

.kysymys {
  display: flex;
  flex-direction: column;
  gap: 0.66rem;
  padding: 1rem;
}

.kysymys h3 {
  margin-bottom: 0.5rem;
}
