*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

body,
html {
  height: 100%;
  width: 100%;
  background-color: rgb(31, 31, 31);
  color: white;
}

header {
  position: relative;
}

#root {
  height: 100vh;
  width: 100vw;
}

.home-container {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
}

.home-introduction {
  text-align: right;
}

.home-introduction p {
  font-size: 18px;
}

.home-container img {
  width: 450px;
}

.boldText {
  font-weight: bold;
}

#error-page {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
  height: 100vh;
  justify-content: center;
  padding: 0 5rem;
}

.login-signup-container {
  display: flex;
  gap: 4rem;
}
.login-form,
.signup-form {
  display: flex;
  flex-direction: column;
}

.kysymysnapit-container {
  display: flex;
  gap: 2rem;
}

.vastausvaihtoehto-poisto {
  background-color: black;
  padding: 0.5rem;
  border-radius: 0.4rem;
  cursor: pointer;
  margin-left: 1rem;
}

.vastaus-input-container {
  display: flex;
  gap: 0.6rem;
  align-items: center;
  background-color: #f9dc5c;
  border-radius: 0.66rem;
  color: black;
  padding: 1rem;
}

.vastaus-input-container label {
  font-weight: bold;
}

.tentin-palautusnappi {
  border: none;
  width: max-content;
  margin: 1rem auto 0 auto;
  cursor: pointer;
  border-radius: 0.6rem;
  background-color: #f9dc5c;
  font-weight: bold;
  font-size: 18px;
  transition: ease-in-out 300ms;
}

.tentin-palautusnappi:hover {
  transform: scale(1.25);
}

.tentti-card-container {
  display: flex;
  flex-direction: column;
  background-color: #f9dc5c;
  width: 400px;
  padding: 1rem;
  text-align: center;
  color: black;
  border-radius: 0.66rem;
  margin-top: 2rem;
}
