.admin-tentti-card-container {
  display: flex;
  width: 100vw;
  gap: 1rem;
  padding: 1rem;
}

.admin-tentti-card {
  display: flex;
  border-radius: 0.66rem;
  flex-direction: column;
  padding: 2rem;
  background-color: rgb(27, 27, 27);
  width: 20vw;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  transition: ease-in-out 400ms;
}

.admin-tentti-card:hover {
  transform: scale(1.05);
  background-color: rgb(51, 51, 51);
  cursor: pointer;
}
